{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Вхід до моделювання</title>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" type="image/jpeg" href="{% static 'img/launcher-icon-4x.png' %}">
    <link rel="manifest" href="{% static 'manifest.json'%}">

    <link rel="stylesheet" href="{% static 'landing/css/lib/material.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/start.css' %}">
    
</head>
<body class="login">
    <div class="b-holder">
        <iframe
            class="b-video"
            id="video"
            src="https://www.youtube.com/embed/D285g3Bh9-A?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&enablejsapi=1&playlist=W0LHTWG-UmQ"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>

    <div class="b-inputs b-inputs--login">
 
    <form class="b-form" method="post" action="">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="id_username" maxlength="100" name="username" type="text" required=""">
            <label data-lang="email" class="mdl-textfield__label" for="email">Введіть свій email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="id_password" name="password" type="password" required="">
            <label data-lang="password" class="mdl-textfield__label" for="password">Введіть свій пароль</label>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        
        <a data-lang="start" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent b-button js-start" href="javascript:void(0);" onclick="$(this).closest('form').submit();">
                Почати моделювання
            </a>
    </form>
    </div>

    <div data-lang="currentLang" class="b-picker">
    </div>
        <ul class="b-languages">
            <li data-lang="currentLang" data-value="current" class="b-languages__item b-languages__item--current"></li>
            <li data-value="ua" class="b-languages__item">Українська</li>
            <li data-value="ru" class="b-languages__item">Русский</li>
            <li data-value="en" class="b-languages__item">English</li>
        </ul>

<script src="{% static 'landing/js/lib/jquery.min.js' %}"></script>
<script src="{% static 'landing/js/lib/material.min.js' %}"></script>
<script src="{% static 'landing/js/validate.js' %}"></script>
<script src="{% static 'landing/js/starting.js' %}"></script>
<script src="{% static 'landing/js/main.js' %}"></script>
<script src="{% static 'landing/js/lang.js' %}"></script>
</body>
</html>