{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Drive</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'landing/css/lib/material.min.css' %}"">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
   
</head>

<body class="main">
<header class="b-header">
    <ul class="b-userdata">
        <li class="b-userdata__item b-userdata__item--name">
            
            <img alt="" id="image_avatar" class="b-userdata__image" src="{{ user.profile.get_avatar }}">
            <div data-target="name" class="b-userdata__primary">
            {{ user.get_full_name}}</div>
            <div data-target="email" class="b-userdata__secondary">
            {{user.email}}</div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Ваша посада:</div>
            <div data-target="position" class="b-userdata__primary">
            	{{ user.profile.position}}
            </div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Ваша iнвестицiя:</div>
            <div data-target="investment" class="b-userdata__primary">
            {{ user.profile.investment}}  $</div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Площа</div>
            <div data-target="area" class="b-userdata__primary">
            {{ user.profile.area}}  га </div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Компанiя</div>
            <div data-target="company" class="b-userdata__primary">
            {{ user.profile.company}}</div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Холдинг</div>
            <div data-target="holding" class="b-userdata__primary">
            	{{ user.profile.holding}}
            </div>
        </li>
        <li class="b-userdata__item">
            <div class="b-userdata__secondary">Кластер</div>
            <div data-target="cluster" class="b-userdata__primary cluster">
            {{ user.profile.cluster}}</div>
        </li>
    </ul>
</header>
<div class="i-container">
    <div class="b-holder">
        <ul class="b-data">
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Робочий капітал АПЗ
                </div>
                <div class="b-data__text">
                    Загальна сума РК АПЗ
                </div>
                <div data-target="total" class="b-data__value">
                {{ user.profile.total}}  $</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    EBITDA
                </div>
                <div class="b-data__text">
                    Прибуток за виключенням інтересу, податків та амортизації
                </div>
                <div data-target="ebitda" class="b-data__value">
                {{ user.profile.ebitda}}  $</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    EBITDA / гектар
                </div>
                <div class="b-data__text">
                    У перерахунку на гектар площі
                </div>
                <div data-target="ebitdaForHa" class="b-data__value">
                </div>
            </li>
        </ul>
    </div>
    <div class="b-holder">
        <ul class="b-data">
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Ваша інвестиція
                </div>
                <div class="b-data__text">
                    Загальна сума вашого вкладу
                </div>
                <div data-target="investment" class="b-data__value">
                {{ user.profile.userInvestment}}  $</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Інвестиція механізаторів
                </div>
                <div class="b-data__text">
                    Загальний вклад команди механізаторів
                </div>
                <div data-target="teamInvestment1" class="b-data__value">
                {{ user.profile.teamInvestment1}}  $</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Інвестиція команди АПЗ
                </div>
                <div class="b-data__text">
                    Secondary text
                </div>
                <div data-target="teamInvestment2" class="b-data__value">
                {{ user.profile.teamInvestment2}}  $</div>
            </li>
        </ul>
    </div>
    <div class="b-holder">
        <ul class="b-data">
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Рентабельність капіталу
                </div>
                <div class="b-data__text">
                    Рентабельність капіталу АПЗ
                </div>
                <div data-target="rentability" class="b-data__value">
                {{ user.profile.rentability}}  %</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Рентабельність інвестиції   </div>
                <div class="b-data__text">
                    Рентабельність інвестицій учасників партнерської програми
                </div>
                <div data-target="investmentRentability" class="b-data__value">
                {{ user.profile.investmentRentability}}  %</div>
            </li>
            <li class="b-data__item">
                <div class="b-data__image"></div>
                <div class="b-data__name">
                    Прибуток інвестиції
                </div>
                <div class="b-data__text">
                    Прибуток вашої інвестиції
                </div>
                <div data-target="profit" class="b-data__value b-data__value--green">
                </div>
            </li>
        </ul>
    </div>
    <div class="b-holder">
        <h2 class="b-title">Розподіл АПЗ в 2017 році</h2>
        <div class="test">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
    </div>
    <div class="b-holder">
        <h2 class="b-title">Площа вашої відповідальності</h2>
        <ul class="b-data">
            <li class="b-data__item b-data__item--plant">
                <div class="b-data__image"></div>
                <div data-target="plant1" class="b-data__name">
                    Озима пшениця
                </div>
                <div class="b-data__input-holder">
                    <input class="mdl-slider mdl-js-slider input" type="range"
                           min="0" max="100" value="0" tabindex="0" step="5">
                </div>
                <div data-target="plantValue" class="b-data__total"></div>
            </li>
            <li class="b-data__item b-data__item--plant">
                <div class="b-data__image"></div>
                <div data-target="plant2" class="b-data__name">
                    Озимий рапс
                </div>
                <div class="b-data__input-holder">
                    <input class="mdl-slider mdl-js-slider input" type="range"
                           min="0" max="100" value="0" tabindex="0" step="5">
                </div>
                <div data-target="plantValue" class="b-data__total"></div>
            </li>
            <li class="b-data__item b-data__item--plant">
                <div class="b-data__image"></div>
                <div data-target="plant3" class="b-data__name">
                    Соя
                </div>
                <div class="b-data__input-holder">
                    <input class="mdl-slider mdl-js-slider input" type="range"
                           min="0" max="100" value="0" tabindex="0" step="5">
                </div>
                <div data-target="plantValue" class="b-data__total"></div>
            </li>
            <li class="b-data__item b-data__item--plant">
                <div class="b-data__image"></div>
                <div data-target="plant4" class="b-data__name">
                    Кукурудза
                </div>
                <div class="b-data__input-holder">
                    <input class="mdl-slider mdl-js-slider input" type="range"
                           min="0" max="100" value="0" tabindex="0" step="5">
                </div>
                <div data-target="plantValue" class="b-data__total"></div>
            </li>
            <li class="b-data__item b-data__item--plant">
                <div class="b-data__image"></div>
                <div data-target="plant5" class="b-data__name">
                    Соняшник
                </div>
                <div class="b-data__input-holder">
                    <input class="mdl-slider mdl-js-slider input" type="range"
                           min="0" max="100" value="0" tabindex="0" step="5">
                </div>
                <div data-target="plantValue" class="b-data__total"></div>
            </li>
        </ul>
    </div>
    <div class="b-holder b-holder--transparent">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent b-button" href="#">
            Почати моделювання
        </a>
    </div>
</div>


<script src="{% static 'landing/js/lib/jquery.min.js' %}"></script>
<script src="{% static 'landing/js/lib/material.min.js' %}"></script>
<script src="{% static 'landing/js/main.js' %}"></script>
</body>
</html>